<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.crm.dao.CustomerContactMapper" >
  <resultMap id="BaseResultMap" type="com.study.crm.vo.CustomerContact" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="contact_time" property="contactTime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="overview" property="overview" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cus_id, contact_time, address, overview, create_date, update_date, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_contact
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_customer_contact
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.study.crm.vo.CustomerContact" >
    insert into t_customer_contact (id, cus_id, contact_time, 
      address, overview, create_date, 
      update_date, is_valid)
    values (#{id,jdbcType=INTEGER}, #{cusId,jdbcType=INTEGER}, #{contactTime,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=VARCHAR}, #{overview,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{isValid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.study.crm.vo.CustomerContact" >
    insert into t_customer_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cusId != null" >
        cus_id,
      </if>
      <if test="contactTime != null" >
        contact_time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="overview != null" >
        overview,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="contactTime != null" >
        #{contactTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.crm.vo.CustomerContact" >
    update t_customer_contact
    <set >
      <if test="cusId != null" >
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
      <if test="contactTime != null" >
        contact_time = #{contactTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="overview != null" >
        overview = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.crm.vo.CustomerContact" >
    update t_customer_contact
    set cus_id = #{cusId,jdbcType=INTEGER},
      contact_time = #{contactTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryCustomerContactAll" parameterType="com.study.crm.query.CustomerContactQuery" resultType="com.study.crm.vo.CustomerContact">
    select
    <include refid="Base_Column_List"></include>
    from t_customer_contact
    where
    is_valid=1 and cus_id=#{cusId}
  </select>
</mapper>